@import 'utils/vars';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/container';
@import 'utils/extended-block';

html, body {
  background: $windowBackground;
}

html {
  scroll-behavior: smooth;
}

button, a, input {
  cursor: pointer;
}