@import 'entry';

@import "blocks/button";
@import "blocks/img-frame";
@import "blocks/spoilers";
@import "blocks/feature-card";
@import "blocks/quizlet";
@import "blocks/progress-bar";

@import "blocks/header";
@import "blocks/consultation";
@import "blocks/cost";
@import "blocks/advantages";
@import "blocks/quiz";
@import "blocks/promo";
@import "blocks/guaranty";
@import "blocks/component";
@import "blocks/stages";
@import "blocks/personal-area";
@import "blocks/audit";
@import "blocks/team";
@import "blocks/foreign";
@import "blocks/reviews";
@import "blocks/geography";

@import "blocks/faq";
@import "blocks/footer";