$textColorPrimary: #FFFFFF;
$textColorSecondary: #219653;
$textColorAccent: #219653;

$colorPrimary: #031435;
$colorSecondary: #219653;
$colorAccent: #219653;

$windowBackground: #F5F5F5;
$popupBackground: #FFFFFF;