$p-side: 20px;
$maxWidthContainer: 1031px;
$maxWidthContainer: $maxWidthContainer + 2 * $p-side;

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $p-side;

  @include _more-than($bp-xxl-1442) {
    max-width: #{get-vw($maxWidthContainer, $bp-xxl-1442)};
    padding: 0 #{get-vw($p-side, $bp-xxl-1442)};
  }

  @include _less-than($bp-lg-979) {
    max-width: #{get-vw($maxWidthContainer, $bp-lg-979)};
    padding: 0 #{get-vw($p-side, $bp-lg-979)};
  }

  @include _less-than($bp-sm-576) {
    max-width: #{get-vw($maxWidthContainer, $bp-sm-576)};
    padding: 0 #{get-vw($p-side, $bp-sm-576)};
  }
}