%block-background {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70vw;
  background: $popupBackground;
  @extend %s-border;
}

.extended-block {
  position: relative;

  &:after {
    @extend %block-background;
  }


  & > * {
    z-index: $z-index-content;
  }
}

%header-background {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70vw;
  background: $colorAccent;
}

.extended-header {
  position: relative;

  &:after {
    @extend %header-background;
  }


  & > * {
    position: relative;
    z-index: $z-index-content;
  }
}

%subtitle-background {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background: $subtitleBackground;
  border-radius: 6px;

  @include _more-than($bp-xxl-1442) {
    border-radius: #{get-vw(6px, $bp-xxl-1442)};
  }

  @include _less-than($bp-lg-979) {
    border-radius: #{get-vw(6px, $bp-lg-979)};
  }

  @include _less-than($bp-md-768) {
    border-radius: #{get-vw(6px, $bp-md-768)};
  }

}

.extended-subtitle {
  position: relative;

  &:after {
    @extend %subtitle-background;
  }


  & > * {
    position: relative;
    z-index: $z-index-content;
  }
}