@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype');
  }
}

@font-face {
  font-family: 'Helvetica World';
  src: url('HelveticaWorld.eot');
  src: local('HelveticaWorld'), local('HelveticaWorld'),
    url('HelveticaWorld.woff2') format('woff2'),
    url('HelveticaWorld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin font-size($f-size: 12px, ) {
  font-size: $f-size;

  @media (min-width: $bp-xxl-1442) {
    font-size: #{get-vw($f-size, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {
    font-size: #{get-vw($f-size, $bp-lg-979)};
  }

  @media (max-width: #{$bp-sm-576}) {
    font-size: #{get-vw($f-size, $bp-sm-576)};
  }
}

%s-border {
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 6px;

  @media (min-width: $bp-xxl-1442) {
    border-radius: #{get-vw(6px, $bp-xxl-1442)};
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
  }

  @media (max-width: #{$bp-lg-979}) {
    border-radius: #{get-vw(6px, $bp-lg-979)};
    box-shadow: #{get-vw(1px, $bp-lg-979)} #{get-vw(1px, $bp-lg-979)} #{get-vw(4px, $bp-lg-979)} $colorShadow;
  }

  @media (max-width: #{$bp-sm-576}) {
    border-radius: #{get-vw(6px, $bp-sm-576)};
    box-shadow: #{get-vw(1px, $bp-sm-576)} #{get-vw(1px, $bp-sm-576)} #{get-vw(4px, $bp-sm-576)} $colorShadow;
  }
}

%s-border--manifest {
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 6px;
  border-left: #001437 solid 12px;

  @media (min-width: $bp-xxl-1442) {
    border-radius: #{get-vw(6px, $bp-xxl-1442)};
    border-left: #001437 solid #{get-vw(12px, $bp-xxl-1442)};

    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
  }

  @media (max-width: #{$bp-lg-979}) {
    border-radius: #{get-vw(6px, $bp-lg-979)};
    border-left: #001437 solid #{get-vw(12px, $bp-lg-979)};

    box-shadow: #{get-vw(1px, $bp-lg-979)} #{get-vw(1px, $bp-lg-979)} #{get-vw(4px, $bp-lg-979)} $colorShadow;
  }

  @media (max-width: #{$bp-sm-576}) {
    border-radius: #{get-vw(6px, $bp-sm-576)};
    border-left: #001437 solid #{get-vw(12px, $bp-sm-576)};

    box-shadow: #{get-vw(1px, $bp-sm-576)} #{get-vw(1px, $bp-sm-576)} #{get-vw(4px, $bp-sm-576)} $colorShadow;
  }
}

@mixin padding($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;

  @media (min-width: $bp-xxl-1442) {
    padding-top: #{get-vw($top, $bp-xxl-1442)};
    padding-right: #{get-vw($right, $bp-xxl-1442)};
    padding-bottom: #{get-vw($bottom, $bp-xxl-1442)};
    padding-left: #{get-vw($left, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {
    padding-top: #{get-vw($top, $bp-lg-979)};
    padding-right: #{get-vw($right, $bp-lg-979)};
    padding-bottom: #{get-vw($bottom, $bp-lg-979)};
    padding-left: #{get-vw($left, $bp-lg-979)};
  }

  @media (max-width: #{$bp-sm-576}) {}
}

@mixin padding-size($t-padding: 0px, $r-padding: 0px, $b-padding: 0px, $l-padding: 0px) {
  padding: $t-padding $r-padding $b-padding $l-padding;

  @media (min-width: $bp-xxl-1442) {
    padding: #{get-vw($t-padding, $bp-xxl-1442)} #{get-vw($r-padding, $bp-xxl-1442)} #{get-vw($b-padding, $bp-xxl-1442)} #{get-vw($l-padding, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {}

  @media (max-width: #{$bp-sm-576}) {}
}

@mixin margin($t-margin: 0px, $r-margin: 0px, $b-margin: 0px, $l-margin: 0px) {
  margin: $t-margin $r-margin $b-margin $l-margin;

  @media (min-width: $bp-xxl-1442) {
    margin: #{get-vw($t-margin, $bp-xxl-1442)} #{get-vw($r-margin, $bp-xxl-1442)} #{get-vw($b-margin, $bp-xxl-1442)} #{get-vw($l-margin, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {}

  @media (max-width: #{$bp-sm-576}) {}
}


@mixin _more-than($resolution: 180px) {
  @media (min-width: $resolution) {
    @content;
  }
}

@mixin _less-than($resolution: 1170px) {
  @media (max-width: $resolution) {
    @content;
  }
}

@mixin _less-than-height($resolution: 1170px) {
  @media (max-height: $resolution) {
    @content;
  }
}
