@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
  }
}

@font-face {
  font-family: 'Helvetica World';
  src: url('HelveticaWorld.eot');
  src: local('HelveticaWorld'), local('HelveticaWorld'),
  url('HelveticaWorld.woff2') format('woff2'),
  url('HelveticaWorld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin text-size($f-size: 12px,) {
  font-size: $f-size;

  @media (min-width: $bp-large) {
    font-size: #{get-vw($f-size, $bp-large)};
  }

  @media (max-width: #{$bp-tablet}) {
    font-size: #{get-vw($f-size, $bp-tablet)};
  }

  @media (max-width: #{$bp-mobile}) {
    font-size: #{get-vw($f-size, $bp-mobile)};
  }
}

@mixin shadow() {
  box-shadow: 1px 1px 4px $colorShadow;

  @media (min-width: $bp-large) {
    box-shadow: #{get-vw(1px, $bp-large)}
    #{get-vw(1px, $bp-large)}
    #{get-vw(4px, $bp-large)}
    $colorShadow;
  }

  @media (max-width: #{$bp-tablet}) {
    box-shadow: #{get-vw(1px, $bp-tablet)}
    #{get-vw(1px, $bp-tablet)}
    #{get-vw(4px, $bp-tablet)}
    $colorShadow;
  }

  @media (max-width: #{$bp-mobile}) {
    box-shadow: #{get-vw(1px, $bp-mobile)}
    #{get-vw(1px, $bp-mobile)}
    #{get-vw(4px, $bp-mobile)}
    $colorShadow;
  }
}

@mixin padding-size($t-padding: 0px, $r-padding: 0px, $b-padding: 0px, $l-padding: 0px) {
  padding: $t-padding $r-padding $b-padding $l-padding;

  @media (min-width: $bp-large) {
    padding: #{get-vw($t-padding, $bp-large)}
    #{get-vw($r-padding, $bp-large)}
    #{get-vw($b-padding, $bp-large)}
    #{get-vw($l-padding, $bp-large)};
  }

  @media (max-width: #{$bp-tablet}) {
  }

  @media (max-width: #{$bp-mobile}) {
  }
}

@mixin margin-size($t-margin: 0px, $r-margin: 0px, $b-margin: 0px, $l-margin: 0px) {
  margin: $t-margin $r-margin $b-margin $l-margin;

  @media (min-width: $bp-large) {
    margin: #{get-vw($t-margin, $bp-large)}
    #{get-vw($r-margin, $bp-large)}
    #{get-vw($b-margin, $bp-large)}
    #{get-vw($l-margin, $bp-large)};
  }

  @media (max-width: #{$bp-tablet}) {
  }

  @media (max-width: #{$bp-mobile}) {
  }
}


@mixin _more-than($resolution: 180px) {
  @media (min-width: $resolution) {
    @content;
  }
}

@mixin _less-than($resolution: 1170px) {
  @media (max-width: $resolution) {
    @content;
  }
}