$minWidth: 320px;
$maxWidth: 1440px;

// Sass Screen Variables
$bp-xxl-1442: 1442px;
$bp-xl-1170: 1170px;
$bp-lg-979: 979px;
$bp-md-768: 768px;
$bp-sm-576: 576px;

// Sass Z-index Variables
$z-index-menu: 2;
$z-index-content: 1;


//Text font
$fontFamilyPrimary: "Helvetica";
$fontFamilySecondary: "HelveticaBold";


// Dimensions
$textSize: 23px;
$padding-container: 23px;

// Colors
$textColorPrimary: #000000;
$textColorSecondary: #FFFFFF;
$textColorAccent: #373737;

$colorPrimary: #031435;
$colorSecondary: #219653;
$colorAccent: #219653;

$windowBackground: #F5F5F5;
$popupBackground: #FFFFFF;
$subtitleBackground: #001437;
$colorShadow: rgba(0, 0, 0, 0.25);


//1280
//1170
//979
//768
//600
//480
//350