// Sass Screen Variables
$bp-large: 1280px;
$bp-desktop: 1170px;
$bp-tablet: 900px;
$bp-mobile: 520px;

// Sass Z-index Variables
$z-index-menu: 2;


// Dimensions
$textSize: 23px;
$padding-container: 23px;

// Colors
$textColorPrimary: #FFFFFF;
$textColorSecondary: #219653;
$textColorAccent: #219653;

$colorPrimary: #031435;
$colorSecondary: #219653;
$colorAccent: #219653;

$windowBackground: #F5F5F5;
$popupBackground: #FFFFFF;


//1280
//1170
//979
//768
//600
//480
//350