.audit {
  @include margin(170px);

  &__wrap {

  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(36px);
  }

  &__header {
  }

  &__subtitle {
    font-family: $fontFamilyPrimary;
    color: $textColorSecondary;

    @include font-size(18px);
    @include padding(21px, 37px, 21px, 0px);
    line-height: 120%
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include margin(22px);
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 59.1085271318%;
    @include padding(20px, 0px, 20px, 0px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include margin(25px);
  }

  &__items {
    width: 38.4689922481%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    height: 30%;
  }

  &__form {
  }

  &__instruction {
    @include margin(23px);

    &-title {
      font-family: $fontFamilySecondary;
      @include font-size(18px);
    }

    &-text {
      font-family: $fontFamilyPrimary;
      color: $textColorPrimary;
      @include font-size(14px);
      line-height: 200%;
    }
  }
}

.audit-cart {
  position: relative;

  padding: 16px;
  @extend %s-border;
  background: $popupBackground;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: $z-index-content;
    height: 100%;
    width: 90%;
  }

  &__title {
    font-family: $fontFamilySecondary;
    font-style: italic;
    @include font-size(18px);
    text-align: left;
    color: #383838;
  }

  &__text {
    line-height: 100%;
    @include font-size(12px);
  }

  &__link {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
    @include padding(6px, 6px, 6px, 6px);
    text-align: center;
    width: 50%;
  }

  &__img {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50%;
    object-fit: contain;
  }
}

.audit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;

    &--file {
      width: 55%;
      padding: 0 25px;
    }
  }

  &__input {
    @extend %tmp-input;

    &:not(:first-child) {
      @include margin(12px);
    }

    &:focus {
      border: 2px solid $colorAccent;
    }
  }

  input[type="file"] {
    display: none;
  }

  &__btn {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
  }
}

.uploader {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgba(21, 42, 79, 0.98);
  height: 65%;

  border-radius: 6px;
  padding: 15px 20px;


  &__choose {
    width: 30%;
    background-color: black;
    cursor: pointer;
  }

  &__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 12%;
  }

  &__text {
    width: 70%;
    @include font-size(12px);
    text-align: center;
    color: $textColorSecondary;
    padding: 2%;
  }
}