.button {
  color: $textColorSecondary;
  background: $colorAccent;
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 24px;

  @include font-size(18px);
  text-align: center;
  padding: 12px;


  &--quiz {
    background: $popupBackground;
    color: $textColorPrimary;
    @include font-size(14px);
    border: 1px solid rgba(51, 51, 51, 0.6);
  }

  &--submit {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
  }

  &--contract {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
    background: $popupBackground;
    color: $textColorPrimary;
    border-radius: 6px;
  }


  @include _more-than($bp-xxl-1442) {
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-xxl-1442)};
    padding: #{get-vw(12px, $bp-xxl-1442)};

    &--quiz {
      border: #{get-vw(1px, $bp-xxl-1442)} solid rgba(51, 51, 51, 0.6);
    }

    &--contract {
      border-radius: #{get-vw(6px, $bp-xxl-1442)};
    }
  }

  @include _less-than($bp-lg-979) {
    box-shadow: #{get-vw(1px, $bp-lg-979)} #{get-vw(1px, $bp-lg-979)} #{get-vw(4px, $bp-lg-979)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-lg-979)};
    padding: #{get-vw(12px, $bp-lg-979)};

    &--quiz {
      border: #{get-vw(1px, $bp-lg-979)} solid rgba(51, 51, 51, 0.6);
    }


    &--contract {
      border-radius: #{get-vw(6px, $bp-lg-979)};
    }
  }

  @include _less-than($bp-sm-576) {

  }
}