%btn-white {
  background: transparent;
  color: $textColorPrimary;
}

%btn-green {
  color: $textColorSecondary;
  background: $colorAccent;
}


.button {
  @extend %btn-green;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 24px;

  &:hover {
    border: transparent;
    color: $textColorSecondary;
    background: #177840;
  }

  &:active {
    border: transparent;
    color: $textColorSecondary;
    background: #0F5C30;
  }

  @include font-size(18px);
  text-align: center;
  padding: 12px;


  &--quiz {
    background: $textColorSecondary;
    color: $textColorPrimary;
    @include font-size(14px);
    border: 1px solid rgba(51, 51, 51, 0.6);
  }

  &--submit {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
  }

  &--contract {
    background: $textColorSecondary;
    color: $textColorPrimary;
    @extend %btn-white;
    @include font-size(14px);
    border-radius: 6px;
    font-family: $fontFamilyPrimary;
  }

  &--consultation {
    background: transparent;
    color: $textColorSecondary;
    font-family: $fontFamilyPrimary;

    @include font-size(14px);

    border: 1px solid $textColorSecondary;
    box-shadow: 1px 1px 4px $colorShadow;
    border-radius: 34px;
  }


  @include _more-than($bp-xxl-1442) {
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-xxl-1442)};
    padding: #{get-vw(12px, $bp-xxl-1442)};

    &--quiz {
      border: #{get-vw(1px, $bp-xxl-1442)} solid rgba(51, 51, 51, 0.6);
    }

    &--contract {
      border-radius: #{get-vw(6px, $bp-xxl-1442)};
    }
  }

  @include _less-than($bp-lg-979) {
    box-shadow: #{get-vw(1px, $bp-lg-979)} #{get-vw(1px, $bp-lg-979)} #{get-vw(4px, $bp-lg-979)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-lg-979)};
    padding: #{get-vw(12px, $bp-lg-979)};

    &--quiz {
      border: #{get-vw(1px, $bp-lg-979)} solid rgba(51, 51, 51, 0.6);
    }


    &--contract {
      border-radius: #{get-vw(6px, $bp-lg-979)};
    }
  }

  @include _less-than($bp-sm-576) {

  }
}