.component {
  position: relative;
  height: 100vh;
  @include margin(120px);

  &__img {
    position: absolute;
    object-fit: cover;
    object-position: right;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-family: $fontFamilySecondary;
    color: $textColorSecondary;
    @include font-size(36px);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: $z-index-content;
    @include padding(60px, 20px, 60px, 20px);

    @include _less-than($bp-lg-979) {
      background-color: rgba(0, 0, 0, 0.4);
      height: 100vh;
    }
  }

  &__inner {
    margin-top: 56px;
    width: 50%;

    @include _more-than($bp-xxl-1442) {
      margin-top: #{get-vw(56px, $bp-xxl-1442)};
    }

    @include _less-than($bp-xl-1170) {
      margin-top: #{get-vw(56px, $bp-xl-1170)};
    }

    @include _less-than($bp-lg-979) {
      margin-top: #{get-vw(36px, $bp-lg-979)};
    }

    @include _less-than($bp-md-768) {
      margin-top: #{get-vw(16px, $bp-md-768)};
      width: 100%;
    }
  }

  &__text {
    @include font-size(18px);
    color: $textColorSecondary;

    &:not(:first-child) {
      @include padding(20px);
    }
  }
}

.quote {
  display: flex;
  flex-direction: row;
  @include margin(50px);
  width: 34%;
  height: 100%;

  @include _less-than($bp-lg-979) {
    width: 50%;
  }

  @include _less-than($bp-md-768) {
    width: 70%;
  }

  &__text {
    display: flex;
    align-items: center;

    font-style: italic;
    color: $textColorSecondary;
    @include font-size(14px);
  }

  &::before {
    content: "“";
  }

  &::after {
    content: "“";
    transform: rotateZ(180deg);
  }

  &::before, &::after {
    font-family: $fontFamilyPrimary;
    color: $textColorSecondary;
    @include font-size(72px);
  }
}