.cost {
  @include margin(80px);

  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__main {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 56px 95px 69px 0px;

    @include _more-than($bp-xxl-1442) {
      padding: #{get-vw(56px, $bp-xxl-1442)}
      #{get-vw(95px, $bp-xxl-1442)}
      #{get-vw(69px, $bp-xxl-1442)}
      #{get-vw(0px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      padding: #{get-vw(40px, $bp-lg-979)}
      #{get-vw(20px, $bp-lg-979)}
    }

    @include _less-than($bp-sm-576) {

    }
  }

  &__poster {
    width: 30%;
    position: relative;
    @include margin(0px, 0px, 0px, 24px);
  }

  &__poster-label {
    color: $textColorAccent;
  }

  &__title {
    @include font-size(24px);
  }

  &__text {
    @include margin(24px);
    @include font-size(18px);
    padding-right: 95px;
    text-align: left;
    flex-grow: 1;

    @include _more-than($bp-xxl-1442) {
      padding-right: #{get-vw(95px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      padding-right: #{get-vw(50px, $bp-lg-979)};
    }

    @include _less-than($bp-sm-576) {

    }
  }

  &__btn {
    @include margin(24px);
    @include padding(12px, 12px, 12px, 12px);
    line-height: 117%;
    width: 60%;
  }
}