.faq {
  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(36px);
    text-align: left;
  }

  &__inner {
  }

  &__form {
  }
}


.your-question {
  display: flex;
  flex-direction: column;

  &__description {
    font-family: $fontFamilyPrimary;
    @include font-size(24px);
    @include margin(36px);
  }

  &__textarea {
    width: 100%;
    text-align: left;
    min-height: 12vw;
    @include margin(20px);
    @include padding(10px, 10px, 10px, 10px);

    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 6px;
  }

  &__email {
    width: 30%;
    @include padding(10px, 10px, 10px, 10px);
    @include margin(20px);

    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 6px;
  }

  &__submit {
    background: $popupBackground;

    border: 1px solid #000000;
    color: #000000;
    border-radius: 50px;

    width: 30%;
    @include margin(20px);
  }
}