.faq {
  @include margin(40px);

  &__wrap {
    position: relative;
    z-index: $z-index-content;
  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(36px);
    text-align: left;
  }

  &__inner {
  }

  &__form {
  }
}

.your-question {
  display: flex;
  flex-direction: column;

  &__description {
    font-family: $fontFamilyPrimary;
    @include font-size(24px);
    @include margin(36px);
  }

  &__textarea {
    width: 100%;
    text-align: left;
    @include margin(20px);
    @include padding(10px, 10px, 10px, 10px);
    background-color: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.49);

    border-radius: 6px;
    min-height: 93px;

    @include _more-than($bp-xxl-1442) {
      border-radius: #{get-vw(6px, $bp-xxl-1442)};
      min-height: #{get-vw(93px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      border-radius: #{get-vw(6px, $bp-lg-979)};
      min-height: #{get-vw(93px, $bp-lg-979)};
    }

    @include _less-than($bp-md-768) {
      border-radius: #{get-vw(6px, $bp-lg-979)};
      min-height: #{get-vw(93px, $bp-lg-979)};
    }

  }

  &__email {
    width: 30%;
    @include padding(10px, 10px, 10px, 10px);
    @include margin(20px);
    background-color: #FFFEFE;

    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 6px;
  }

  &__submit {
    background: $popupBackground;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 50px;

    width: 30%;
    @include margin(20px);
  }
}