.footer {
  @include container(12px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #001437;
  width: 100%;

  &__col {
    display: flex;
    flex-direction: column;
    width: 33%;
  }


  &__text {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;

    color: #FFFFFF;

    &:not(:first-child) {
      padding-top: 12px;
    }
  }

  &__about {
    width: 75%;
  }

  &__logo {
    display: flex;
    object-fit: contain;
    width: 50%;
    margin: auto;
  }

  &__social {

  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    height: 100%;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
}

.social {
  &__link {
  }

  &__img {
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
  }
}