.footer {
  @include margin(80px);
  @include padding(16px, 0px, 16px, 0px);
  background: #001437;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  &__about {
    width: 75%;

    &-text {
      font-family: $fontFamilyPrimary;
      font-style: italic;
      @include font-size(12px);
      color: $textColorSecondary;
      @include padding(0px, 0px, 18px, 0px);
    }

  }

  &__logo {
    object-fit: contain;
    height: 100%;
    margin: auto;

  }

  &__social {

  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    height: 100%;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;

  &__tel {
    font-family: $fontFamilyPrimary;
    @include font-size(12px);
    color: $textColorSecondary;
  }

  &__address {
    font-family: $fontFamilyPrimary;
    @include font-size(12px);
    color: $textColorSecondary;
  }
}

.social {
  height: 100%;

  &__link {
  }

  &__img {
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
  }
}