.foreign {
  @include margin(160px);

  &__wrap {

  }

  &__content {

  }

  &__title {
    padding: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-align: center;

    color: #161616;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__column {
    width: 23.56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__card {

  }

  &__footer {
    width: 100%;
    background: #001437;
    text-align: center;
    @include padding(36px, 0px, 36px, 0px);
    margin-top: 90px;

    &-title {
      font-family: $fontFamilySecondary;
      color: $textColorSecondary;
      @include font-size(24px);
    }

    @include _more-than($bp-xxl-1442) {
      margin-top: #{get-vw(90px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      margin-top: #{get-vw(50px, $bp-lg-979)};
    }
  }
}

.card-txt {
  @extend %s-border;
  background-color: $popupBackground;
  @include padding(28px, 38px, 14px, 24px);
  height: 46.77419%;

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(48px);
    text-align: left;
  }

  &__text {
    font-family: $fontFamilySecondary;
    @include font-size(18px);
    text-align: left;
  }

  & + & {
    @include margin(24px);
  }
}

.card-profile {
  @extend %s-border;
  height: 100%;
  background-color: $popupBackground;


  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include padding(28px, 28px, 28px, 28px);
    border-bottom: 2px solid #EDEDED;
    height: 73%;
  }


  &__logo {
    align-self: center;
    @include margin(12px);
    width: 54%;

    &-img {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      object-fit: cover;
      object-position: center;

      border: 5px solid #DEDEDE;
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.4));
    }
  }

  &__title {
    @include margin(12px);
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
  }

  &__about {
    @include margin(12px);
  }

  &__option {
    font-family: $fontFamilyPrimary;
    @include margin(12px);
    @include font-size(14px);
    @include padding(3px, 22px, 3px, 7px);
    background: #E9E9E9;

    &:not(:first-child) {
      @include margin(10px);
    }
  }


  &__body {
    display: flex;
    height: 27%;
    flex-direction: column;
    justify-content: space-between;
    @include padding(15px, 28px, 20px, 28px);

  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__stars {

    &-img {
      display: block;
      height: 30%;
      object-fit: contain;
      text-align: left;
    }
  }

  &__country {
    font-family: $fontFamilyPrimary;
    @include font-size(12px);
  }

  &__btn {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
    @include padding(4px, 10px, 4px, 10px);
    width: 80%;
    align-self: center;
  }
}

.card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 46.77419%;
  @extend %s-border;
  background-color: $colorAccent;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto 0;
  }

  &__title {
    font-family: $fontFamilySecondary;
    color: $textColorSecondary;
    @include font-size(48px);
    //@include margin(43px);
  }

  &__stars {
    font-family: $fontFamilySecondary;
    color: $textColorSecondary;

    &-img {
      display: block;
      width: 70%;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  &__text {
    font-family: $fontFamilySecondary;
    color: $textColorSecondary;
    @include font-size(18px);
    @include margin(12px);
    text-transform: lowercase;
  }

  &--without {
    background-color: #001437;

    .card-rating__stars {
      display: none;
    }
  }
}