.guaranty {
  @include container();

  &__title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;

    color: #000000;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__main {
    width: 50%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 20px;
  }

  &__text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;

    &-title {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;

      color: #000000;
    }

    &:not(:first-child) {
      padding-top: 20px;
    }
  }

  &__poster {
    width: 50%;
  }

  &__img {

  }
}