%tmp-button--nav {
  @include padding(4px, 27px, 4px, 27px);

  border: 1px solid $textColorSecondary;
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 28px;

  &:hover {
    border: 1px solid #177840;
    color: $textColorSecondary;
    background: #177840;
  }

  &:active {
    border: 1px solid #177840;
    color: $textColorSecondary;
    background: #0F5C30;
  }

  @include _more-than($bp-xxl-1442) {
    border: #{get-vw(1px, $bp-xxl-1442)} solid $textColorSecondary;
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
    border-radius: #{get-vw(28px, $bp-xxl-1442)};

    &:hover {
      border: #{get-vw(1px, $bp-xxl-1442)} solid #177840;
    }

    &:active {
      border: #{get-vw(1px, $bp-xxl-1442)} solid #177840;
    }
  }

  @include _less-than($bp-lg-979) {
    border: #{get-vw(1px, $bp-lg-979)} solid $textColorSecondary;
    box-shadow: #{get-vw(1px, $bp-lg-979)} #{get-vw(1px, $bp-lg-979)} #{get-vw(4px, $bp-lg-979)} $colorShadow;
    border-radius: #{get-vw(28px, $bp-lg-979)};

    &:hover {
      border: #{get-vw(1px, $bp-lg-979)} solid #177840;
    }

    &:active {
      border: #{get-vw(1px, $bp-lg-979)} solid #177840;
    }
  }

  @include _less-than($bp-md-768) {
    border: #{get-vw(1px, $bp-md-768)} solid $textColorSecondary;
    box-shadow: #{get-vw(1px, $bp-md-768)} #{get-vw(1px, $bp-md-768)} #{get-vw(4px, $bp-md-768)} $colorShadow;
    border-radius: #{get-vw(28px, $bp-md-768)};

    &:hover {
      border: #{get-vw(1px, $bp-md-768)} solid #177840;
    }

    &:active {
      border: #{get-vw(1px, $bp-md-768)} solid #177840;
    }
  }
}

.nav {
  //display: none;
  transform: translateX(-100%);

  position: fixed;
  left: 0;
  top: 0;

  transition: 0.6s;

  height: 100vh;
  width: 40vw;
  background-color: #031435;
  @include padding(20px, 65px, 0px, 65px);

  @include _less-than($bp-xl-1170) {
    width: 50vw;
  }

  &__header {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
    transform: translateX(12%);

    &-logo {
      align-self: flex-end;
      object-fit: contain;
    }
  }

  &--show {
    transform: translateX(0%);
  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 58%;
    @include margin(20px);
  }

  &__link {
    @extend %tmp-button--nav;
    font-family: $fontFamilyPrimary;
    text-align: center;
    color: $textColorSecondary;
    @include font-size(18px);
    @include padding(8px, 20px, 8px, 20px);
    @include margin(17px);


    &:hover {
      background: $textColorSecondary;
      color: $textColorPrimary;
    }

    &--special {
      @include margin(36px);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include margin(20px);
  }

  &__logo {
    display: flex;
    width: 40%;
    align-self: center;
    object-fit: contain;
  }

  &__date {
    font-family: $fontFamilyPrimary;
    color: $textColorSecondary;
    @include font-size(14px);
    @include margin(20px);
    text-align: center;
  }
}
