.promo {

  &__title {
    font-family: $fontFamilySecondary;
    text-align: left;
    @include text-size(36px);
    padding-right: 280px;

    @include _more-than($bp-xxl-1442) {
      padding-right: #{get-vw(280px, $bp-xxl-1442)};
    }

    @include _less-than($bp-xl-1170) {
      padding-right: #{get-vw(180px, $bp-xl-1170)};
    }

    @include _less-than($bp-lg-979) {
      padding-right: #{get-vw(80px, $bp-lg-979)};
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include margin(24px);
  }

  &__column {
    &:nth-child(1) {
      width: 43.3559650824%;
    }

    &:nth-child(2) {
      width: 48.6905916586%;
    }

    @include _less-than($bp-lg-979) {
      &:nth-child(1) {
        width: calc(43.3559650824% + 7.953443259% / 4);
      }

      &:nth-child(2) {
        width: calc(48.6905916586% + 7.953443259% / 4);
      }
    }
  }

  &__footer {
    width: 100%;
    background: #001437;
    text-align: center;
    @include padding(36px, 0px, 36px, 0px);
    margin-top: 90px;

    @include _more-than($bp-xxl-1442) {
      margin-top: #{get-vw(90px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      margin-top: #{get-vw(50px, $bp-lg-979)};
    }
  }

  &__contract {
    width: 32%;
  }
}

.manifest {
  background: $popupBackground;
  @extend %s-border--manifest;
  @include padding(12px, 5px, 20px, 21px);

  &__title {
    font-family: $fontFamilySecondary;
    @include text-size(14px);
    line-height: 110%;
  }

  &__text {
    @include text-size(14px);
    line-height: 110%;

    &:not(:first-child) {
      @include padding(18px);
    }

    &--green {
      color: $colorAccent;
    }
  }
}

.trailer {
  &__video {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: inherit;
      height: 100%;
    }
  }

  &__description {
    @include text-size(14px);
    @include margin(16px);
  }

  &__form {
    @include margin(16px);
  }
}

%tmp-input {
  $textColorInput: #B7B7B7;
  $borderColorInput: rgba(0, 0, 0, 0.3);


  background: $popupBackground;
  color: $textColorInput;
  text-align: left;

  @include text-size(14px);
  @include padding(10px, 20px, 10px, 20px);

  border: 1px solid $borderColorInput;
  border-radius: 6px;

  @media (min-width: $bp-xxl-1442) {
    border: #{get-vw(1px, $bp-xxl-1442)} solid $borderColorInput;
    border-radius: #{get-vw(6px, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {
    border: #{get-vw(1px, $bp-lg-979)} solid $borderColorInput;
    border-radius: #{get-vw(6px, $bp-lg-979)};
  }

  @media (max-width: #{$bp-sm-576}) {
  }
}

.app-form {

  &__title {
    font-family: $fontFamilySecondary;
    @include text-size(18px);
  }

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 309fr 177fr;
    @include margin(24px);

    column-gap: 16px;

    @include _more-than($bp-xxl-1442) {
      column-gap: #{get-vw(16px, $bp-xxl-1442)};
    }

    @include _less-than($bp-lg-979) {
      column-gap: #{get-vw(16px, $bp-lg-979)};
    }

    @include _less-than($bp-sm-576) {

    }
  }

  &__input {
    @extend %tmp-input;
  }

  &__submit {

  }

  &__note {
    @include text-size(9px);
    @include margin(4px);
    line-height: 105%;

    color: #BBBBBB;
  }
}