.progress-bar {

  &__bar {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    width: 100%;
    background-color: #C4C4C4;

    height: 5px;

    @include _more-than($bp-xxl-1442) {
      height: #{get-vw(5px, $bp-xxl-1442)};
    }

    @include _less-than($bp-xl-1170) {
      height: #{get-vw(5px, $bp-xl-1170)};
    }

    @include _less-than($bp-lg-979) {
      height: #{get-vw(5px, $bp-lg-979)};
    }

    @include _less-than($bp-md-768) {
      height: #{get-vw(5px, $bp-md-768)};
    }
  }

  &__circle {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    border-radius: 50%;

    background: #C4C4C4;
    transition: background-color 0.3s 0s;

    width: 22px;
    height: 22px;

    @include _more-than($bp-xxl-1442) {
      width: #{get-vw(22px, $bp-xxl-1442)};
      height: #{get-vw(22px, $bp-xxl-1442)};
    }

    @include _less-than($bp-xl-1170) {
      width: #{get-vw(22px, $bp-xl-1170)};
      height: #{get-vw(22px, $bp-xl-1170)};
    }

    @include _less-than($bp-lg-979) {
      width: #{get-vw(22px, $bp-lg-979)};
      height: #{get-vw(22px, $bp-lg-979)};
    }

    @include _less-than($bp-md-768) {
      width: #{get-vw(22px, $bp-md-768)};
      height: #{get-vw(22px, $bp-md-768)};
    }
  }

  &__circle-text {
    display: block;
    text-align: center;
    font-family: $fontFamilySecondary;
    @include font-size(14px);
    transform: translateY(10%);
    color: #FFFFFF;
  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(14px);
  }

  &__inner {
    @include margin(3px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  &__bar-inner {
    height: 100%;
    width: 0%;
    background: $colorAccent;
    transition: width 0.3s 0.6s;
  }

  &_step {

    &-0 {
      .progress-bar {
        &__circle_1 {
          background: #FFC700;
          transition: background-color 0.3s 0.6s;

          .progress-bar__circle-text {
            transition: color 0.3s 0.6s;
            color: #000000;
          }
        }

        &__bar-inner {
          width: 0%;
        }
      }
    }

    &-1 {
      .progress-bar {
        &__circle_1 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_2 {
          background: #FFC700;
          transition: background-color 0.3s 0.6s;

          .progress-bar__circle-text {
            transition: color 0.3s 0.6s;
            color: #000000;
          }
        }

        &__bar-inner {
          width: 25%;
        }
      }
    }

    &-2 {
      .progress-bar {
        &__circle_1 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_2 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_3 {
          background: #FFC700;
          transition: background-color 0.3s 0.6s;

          .progress-bar__circle-text {
            transition: color 0.3s 0.6s;
            color: #000000;
          }
        }

        &__bar-inner {
          width: 50%;
        }
      }
    }

    &-3 {
      .progress-bar {
        &__circle_1 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_2 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_3 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_4 {
          background: #FFC700;
          transition: background-color 0.3s 0.6s;

          .progress-bar__circle-text {
            transition: color 0.3s 0.6s;
            color: #000000;
          }
        }

        &__bar-inner {
          width: 75%;
        }
      }
    }

    &-4 {
      .progress-bar {
        &__circle_1 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_2 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_3 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_4 {
          background: $colorAccent;
          transition: background-color 0.3s 0.6s;
        }

        &__circle_5 {
          background: #FFC700;
          transition: background-color 0.3s 0.6s;

          .progress-bar__circle-text {
            transition: color 0.3s 0.6s;
            color: #000000;
          }
        }

        &__bar-inner {
          width: 100%;
        }
      }
    }
  }
}
