.promo {
  &__title {
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__manifest {
    width: 50%;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border-left: #001437 solid 6px;
    padding: 12px 20px;
  }

  &__text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: #000000;

    &:not(:first-child) {
      padding-top: 20px;
    }
  }

  &__trailer {

  }

  &__video {

  }

  &__description {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
  }

  &__form {
    &-title {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;

      color: #000000;
    }

    &-inner {
      width: 100%;
    }

    &-input {
      width: 60%;
      padding: 10px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      box-sizing: border-box;
    }

    &-btn {
      box-sizing: border-box;
      width: 40%;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      text-align: center;

      color: #FFFFFF;

      background: #219653;
      mix-blend-mode: normal;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 34px;
      padding: 8px 20px;
    }

    &-note {
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 10px;

      color: #BBBBBB;
    }
  }

  &__footer {
    width: 100%;
    background: #001437;
    text-align: center;
    padding: 36px;
  }

  &__contract-btn {
    display: inline-block;
    width: 40%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    padding: 16px;

    align-items: center;
    text-align: center;

    color: #000000;

    background: #FFFFFF;
    border-radius: 6px;
  }
}