%highlighter {
  padding: 8px 12px;
  border-radius: 6px;

  font-family: $fontFamilySecondary;
  color: $textColorSecondary;
  background: $colorAccent;

  @media (min-width: $bp-xxl-1442) {
    padding: #{get-vw(8px, $bp-xxl-1442)} #{get-vw(12px, $bp-xxl-1442)};
    border-radius: #{get-vw(6px, $bp-xxl-1442)};
  }

  @media (max-width: #{$bp-lg-979}) {
    padding: #{get-vw(8px, $bp-lg-979)} #{get-vw(12px, $bp-lg-979)};
    border-radius: #{get-vw(6px, $bp-lg-979)};
  }

  @media (max-width: #{$bp-sm-576}) {
  }
}

.quizlet {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__progress {

  }

  &__question {
    @include text-size(14px);
    @include margin(20px);
    @extend %highlighter;
  }

  &__answers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50%;

    padding: 20px 0;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;

    @media (min-width: $bp-xxl-1442) {
      padding: #{get-vw(20px, $bp-xxl-1442)} 0;
      row-gap: #{get-vw(20px, $bp-xxl-1442)};
      column-gap: #{get-vw(20px, $bp-xxl-1442)};
      margin-top: #{get-vw(20px, $bp-xxl-1442)};
    }

    @media (max-width: #{$bp-lg-979}) {
      padding: #{get-vw(20px, $bp-lg-979)} 0;
      row-gap: #{get-vw(20px, $bp-lg-979)};
      column-gap: #{get-vw(20px, $bp-lg-979)};
      margin-top: #{get-vw(20px, $bp-lg-979)};
    }

    @media (max-width: #{$bp-sm-576}) {

    }

  }

  &__option {
    width: 100%;
  }
}