.quiz {
  &__title {
    @include text-size(36px);
  }

  &__subtitle {
    font-family: $fontFamilySecondary;
    color: $textColorSecondary;

    @include text-size(14px);
    @include padding(7px, 64px, 7px, 82px);
  }

  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include margin(36px);
  }

  &__header {
    @include margin(12px);

    &-logo {
      object-fit: contain;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-14.41048%);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  &__content {
    @include padding(0px, 64px, 60px, 82px);
    @include margin(20px);
  }

  &__poster {
    width: 30%;
    position: relative;
    @include margin(0px, 0px, 0px, 24px);
  }

  &__quote {
    display: flex;
    flex-direction: row;

    @include margin(28px);
    @include padding(0px, 64px, 0px, 82px);

    width: 100%;
    height: 100%;

    &-text {
      font-family: $fontFamilyPrimary;
      font-style: italic;
      @include text-size(18px);
      @include padding(0px, 20px, 0px, 20px);
    }

    &::before {
      content: "“";
      transform: translateY(-12%);
    }

    &::after {
      content: "“";
      transform: rotateZ(180deg) translateX(15%) translateY(40%);
    }

    &::before, &::after {
      font-family: $fontFamilyPrimary;
      @include text-size(96px);
      color: $colorAccent;
    }
  }
}