.reviews {
  position: relative;
  margin-top: 80px;

  &__title {
    font-family: $fontFamilyPrimary;
    font-style: normal;
    font-weight: bold;
    @include font-size(36px);
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include margin(28px);
  }

  &__column {
    width: 48.78%;
  }

  &__video {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: inherit;
      height: 100%;
    }
  }

  &__cards {
    @include margin(24px);
  }

  &__background {
    height: 48%;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: -8%;
  }
}

.r-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__item {
    width: 47.5149105368%;
  }

  @include _less-than($bp-md-768) {
    flex-direction: column;
    justify-content: space-between;

    &__item {
      width: 100%;

      &:not(:first-child) {
        @include margin(20px);
      }
    }
  }
}

.review {
  &__header {
    background: $popupBackground;
    @extend %s-border;

    display: flex;
    flex-direction: row;
    align-items: center;
    @include padding(10px, 10px, 10px, 10px);
  }

  &__title {
    margin-left: 20px;
  }

  &__avatar {
    border-radius: 50%;
    height: 50%;
    overflow: hidden;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }

  &__name {
    display: block;
    font-family: $fontFamilySecondary;
    @include font-size(18px);
  }

  &__post {
    display: block;
    font-family: $fontFamilySecondary;
    @include font-size(18px);
  }

  &__quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include padding(0px, 4px, 0px, 39px);
    @include margin(20px);

    color: #000000;

    &::before {
      content: "“";
      transform: translateX(-8%) translateY(100%);
    }

    &::after {
      content: "“";
      transform: rotateZ(180deg) translateY(60%);
    }

    &::before, &::after {
      font-family: $fontFamilyPrimary;
      @include font-size(64px);
      line-height: 50%;
      color: #219653;
    }
  }

  &__text {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);

    @include _less-than($bp-md-768) {
      @include font-size(16px);
    }

    &:not(:first-child) {
      @include padding(20px);
    }
  }

  &__profile-link {
    font-family: $fontFamilyPrimary;
    @include font-size(14px);
    @include padding(5px, 0px, 0px, 39px);
    text-decoration-line: underline;

    color: #31A3C7;
  }
}


.review-card {
  background: $popupBackground;
  @extend %s-border;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid #EBEBEB;
    @include padding(14px, 14px, 14px, 14px);
  }

  &__avatar {
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }

  &__img {
    object-fit: cover;
  }

  &__bio {
    display: block;
    vertical-align: center;
    @include padding(0px, 18px, 0px, 18px);
  }

  &__name {
    font-family: $fontFamilySecondary;
    @include font-size(14px);

    @include _less-than($bp-md-768) {
      @include font-size(18px);
    }
  }

  &__degree {
    font-family: $fontFamilyPrimary;
    @include font-size(12px);

    @include _less-than($bp-md-768) {
      @include font-size(16px);
    }
  }

  &__profile-link {
    font-family: $fontFamilyPrimary;
    @include font-size(12px);

    @include _less-than($bp-md-768) {
      @include font-size(16px);
    }

    text-decoration-line: underline;
    color: #31A3C7;
  }

  &__statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    @include padding(6px, 2px, 6px, 2px);
    width: 33%;
    margin: 0 auto;
    align-items: center;
    text-align: center;

    @include _less-than($bp-md-768) {
      @include padding(12px, 2px, 12px, 2px);
    }

    &:nth-child(2) {
      border-left: 2px solid #EBEBEB;
      border-right: 2px solid #EBEBEB;
    }

  }

  &__counter {
    display: block;
    font-family: $fontFamilySecondary;
    @include font-size(36px);
    text-align: center;
  }

  &__index {
    display: block;
    text-align: center;
    font-family: $fontFamilySecondary;
    @include font-size(9px);

    @include _less-than($bp-md-768) {
      @include font-size(14px);
    }
  }
}