.stages-slider {
  width: 100%;

  overflow: hidden;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: row;
    transition: transform 0.6s ease;
    width: 100%;
  }

  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 3.2%;
    padding-right: 2%;
    padding-bottom: 6vw;
  }

  &__content {

  }

  &__nav {

  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(18px);
    @include margin(20px);
  }

  &__text {
    @include font-size(14px);

    &:not(:first-child) {
      @include padding(20px);
    }
  }

  &__link {
    display: block;
    @include margin(24px);
    @include font-size(14px);
    text-decoration-line: underline;

    color: #36ADE0;
  }

  &__submit {
    //margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 50%;
    align-self: flex-end;

    font-family: $fontFamilyPrimary;
    @include font-size(14px);
    //margin-top: 50px;
    //
    //@include _more-than($bp-xxl-1442) {
    //  margin-top: #{get-vw(50px, $bp-xxl-1442)};
    //}
    //
    //@include _less-than($bp-lg-979) {
    //  margin-top: #{get-vw(50px, $bp-lg-979)};
    //}
    //
    //@include _less-than($bp-md-768) {
    //  margin-top: #{get-vw(50px, $bp-md-768)};
    //}
  }

}

.navbar-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &__btn {
    background: #F0F0F0;
    border-radius: 20px;
    padding: 6px 20px;

    font-family: $fontFamilySecondary;
    @include font-size(24px);
  }

  &__title {
    width: 100%;
    font-family: $fontFamilySecondary;
    @include font-size(24px);
    text-align: left;
    color: #161616;

    padding: 0 12px;
  }

  @include _more-than($bp-xxl-1442) {
    &__btn {
      border-radius: #{get-vw(20px, $bp-xxl-1442)};
      padding: #{get-vw(6px, $bp-xxl-1442)} #{get-vw(20px, $bp-xxl-1442)};
    }

    &__title {
      padding: 0 #{get-vw(12px, $bp-xxl-1442)};
    }
  }

  @include _less-than($bp-xl-1170) {
    &__btn {
      border-radius: #{get-vw(20px, $bp-xl-1170)};
      padding: #{get-vw(6px, $bp-xl-1170)} #{get-vw(20px, $bp-xl-1170)};
    }

    &__title {
      padding: 0 #{get-vw(12px, $bp-xl-1170)};
    }
  }

  @include _less-than($bp-lg-979) {
    &__btn {
      border-radius: #{get-vw(20px, $bp-lg-979)};
      padding: #{get-vw(6px, $bp-lg-979)} #{get-vw(20px, $bp-lg-979)};
    }

    &__title {
      padding: 0 #{get-vw(12px, $bp-lg-979)};
    }
  }

  @include _less-than($bp-md-768) {
    &__btn {
      border-radius: #{get-vw(20px, $bp-md-768)};
      padding: #{get-vw(6px, $bp-md-768)} #{get-vw(20px, $bp-md-768)};
    }

    &__title {
      padding: 0 #{get-vw(12px, $bp-md-768)};
    }
  }
}

.button__wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}