.spoilers {
  counter-reset: counter-spoiler;

  &__item {
    counter-increment: counter-spoiler;
  }

}

.spoiler {
  width: 100%;

  &__checkbox {
    display: none;
  }

  &--show {
    .spoiler {
      &__body {
        display: flex;
      }

      &__label {
        &:after {
          content: "-";
        }
      }

    }
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:before {
      display: inline;
      content: "0" counter(counter-spoiler);
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 122%;
      padding-right: 12px;
      color: #000000;
    }
  }

  &__label {
    cursor: pointer;
    width: 95%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;

    border-bottom: 2px solid #C4C4C4;
    color: #000000;

    &:after {
      content: "+";
      float: right;
      font-family: monospace;
      font-weight: bold;
      color: #C4C4C4;
      font-size: 20px;
    }
  }

  &__label {
    background: transparent;
    padding: 24px 18px 24px 0;
    overflow: hidden;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  &__text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;

    color: #000000;

  }

  &__inner {
    background: #FFF;
    border: 2px solid #C4C4C4;
    border-top: none;
    padding: 20px;
  }

  &__body {
    display: none;

    width: 100%;
    flex-direction: row;
    align-items: center;

    &:before {
      display: inline;
      content: "00";
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 122%;
      padding-right: 12px;
      color: transparent;
    }
  }

  & > input:checked + &__body {
    display: flex;
  }

  & > input:checked + &__label {
    &:after {
      content: "-";
    }
  }

}