.stage-gird {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;

  &__title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #161616;
  }

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
  }


  &__item {
    display: flex;
    justify-content: center;
    justify-items: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }


  &__pos {
    display: flex;
    justify-items: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    padding: 20px;

    color: #000000;
  }

}