.team {
  @include margin(160px);

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(36px);
  }

  &__about {
    @include font-size(14px);
    @include margin(23px);
  }

  &__inner {
    position: relative;
    @include margin(34px);
  }

  &__slider {
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(5%, 0);
    height: 80%;
  }
}

.tabs-team {
  display: flex;
  flex-direction: column-reverse;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__bg-img {
    object-fit: contain;
    height: 80%;
    align-self: flex-end;
  }

  &__tab {
    width: 32.2674418605%;
    text-decoration: none;

    &--show {
      color: $textColorPrimary;
      background: $textColorSecondary;
    }

    &:hover {
      color: $textColorPrimary;
      background: $textColorSecondary;
    }

    &:active {
      color: $textColorPrimary;
      background: $textColorSecondary;
    }

    font-family: $fontFamilySecondary;
    color: $textColorSecondary;
    @include padding(10px, 18px, 10px, 18px);
    @include font-size(14px);
    text-align: left;

    background: #001437;
    @extend %s-border;

    span {
      display: block;
      font-family: $fontFamilySecondary;
      color: inherit;
      @include font-size(14px);
      text-align: left;
    }
  }

  &__body {
    width: 100%;
    @include margin(-5px);
  }

  &__item {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--show {
      display: flex;
    }
  }

  &__column {
    display: flex;
    width: 32.2674418605%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__inner {
    align-self: flex-end;
    background-color: $popupBackground;
    box-shadow: 1px 1px 4px $colorShadow;
    @include padding(58px, 27px, 58px, 27px);
    //transform: translateX(-4.92%);
  }

  &__text {
    @include font-size(14px);

    &:not(:first-child) {
      @include padding(20px);
    }
  }
}